* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    justify-content: space-around;
    background-color: rgb(26, 26, 26);
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    border-radius: 7px;
    width: 25vw;
    height: 30vh;
    margin-top: 10vh;
    background-color: rgb(78, 78, 78);
    color: white;
}

input {
    margin-top: 15px;
    height: 30px;
    width: 15vw;
    border-radius: 5px;
}

.needs {
    margin: 2vh 1vw;
}

.needs > p {
    margin-top: 1vh;
}

.inativo {
    width: 90%;
    height: 4vh;
    border-radius: 4px;
    background-color: #888;
}

.ativo {
    width: 90%;
    height: 4vh;
    border-radius: 4px;
}

.ativo:hover {
    cursor: pointer;
    background-color: #ff8787;
}